@use '@styles/abstracts/variables' as *;

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader-ring {
  width: 50px;
  height: 50px;
  border: 4px solid transparent;
  border-radius: 50%;
  border-top-color: $senary-color;
  border-left-color: $quinary-color;
  border-right-color: $quaternary-color;
  animation: spin 1s linear infinite;
  position: absolute;
  z-index: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader-bar {
  width: 80px;
  height: 6px;
  background: rgba($secondary-color, 0.3);
  position: absolute;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    background: linear-gradient(
      90deg,
      $tertiary-color,
      $quaternary-color,
      $quinary-color,
      $senary-color
    );
    animation: load 1.5s infinite linear;
  }
}

@keyframes load {
  0% {
    left: -40%;
  }
  100% {
    left: 100%;
  }
}
