@use '@styles/abstracts/variables' as *;

.custom-select {
  position: relative;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  font-size: 1rem;
  cursor: pointer;

  &__selected {
    padding: 12px;
    border: 2px solid $secondary-color;
    background-color: transparent;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    transition:
      border-color 0.3s ease,
      background-color 0.3s ease;

    &:active {
      border-color: $quinary-color;
    }
  }

  &__arrow {
    transition: transform 0.3s ease;
    &::before {
      content: '▼';
      font-size: 0.8rem;
      color: $text-color;
    }
    &.open {
      transform: rotate(180deg);
    }
  }

  &__dropdown {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    background: $secondary-color;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    z-index: 10;
    animation: fadeIn 0.2s ease-in-out;
  }

  &__option {
    padding: 10px 12px;
    transition: background-color 0.2s;
    color: $text-color;

    &.selected {
      background-color: rgba($quinary-color, 0.5);
    }
  }
}

// Animation d'apparition du dropdown
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
