@use '@styles/abstracts/variables' as *;

.add-quest {
  max-height: calc(100% - 56px); //100% - (margin X 2 + border X 2)
  width: calc(100% - 56px);
  border: 4px solid $secondary-color;
  box-sizing: border-box;
  margin: 24px;
  border-radius: 4px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 24px;

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}
