@use '@styles/abstracts/variables' as *;

.quest-list-item {
  display: flex;
  gap: 16px;
  align-items: center;

  &__difficulty {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    &--easy {
      background-color: green;
    }

    &--medium {
      background-color: yellow;
    }

    &--difficult {
      background-color: orange;
    }

    &--hard {
      background-color: red;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;

    &--category {
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }

  &__tools {
    margin-left: auto;
    display: flex;
    gap: 8px;

    &--abandon {
      background-color: red;
    }

    &--validate {
      background-color: green;
    }

    button {
      border-radius: 4px;
      color: $text-color;
      border: 1px solid $text-color;
    }
  }
}
